<!doctype html>
<html lang="en">

<%- include('partials/head.html') %>

<body>

    <%- include('partials/navigation.html') %>

    <div class="container my-4">
        <h1 class="text-center text-white">Market rates</h1>
        <div class="row">

            <div class="col-xl-5">
                <!-- table DAI -->
                <hr>
                <h4 class="text-white">DAI</h4>
                <table class="table table-hover table-responsive-lg text-white">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Buy</th>
                            <th>Total buy</th>
                            <th>Sell</th>
                            <th>Total sell</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var j = 0; j <= 2; j++) { %>
                        <tr>
                            <td class="bg-dark text-white"><%= dai[j].exchange %></td>
                            <td><%= dai[j].ask %></td>
                            <td><%= dai[j].totalAsk %></td>
                            <td><%= dai[j].bid %></td>
                            <td><%= dai[j].totalBid %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>


            <div class="col-xl-5">
                <!-- table Ethereum -->
                <hr>
                <h4 class="text-white">Ethereum</h4>
                <table class="table table-hover table-responsive-lg text-white">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Buy</th>
                            <th>Total buy</th>
                            <th>Sell</th>
                            <th>Total sell</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i <= 1; i++) { %>
                        <tr>
                            <td class="bg-dark text-white"><%= ethereum[i].exchange %></td>
                            <td><%= ethereum[i].ask %></td>
                            <td><%= ethereum[i].totalAsk %></td>
                            <td><%= ethereum[i].bid %></td>
                            <td><%= ethereum[i].totalBid %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-5">
                <!-- table Bitcoin -->
                <hr>
                <h4 class="text-white">Bitcoin</h4>
                <table class="table table-hover table-responsive-lg text-white">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Buy</th>
                            <th>Total buy</th>
                            <th>Sell</th>
                            <th>Total sell</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i <= 2; i++) { %>
                        <tr>
                            <td class="bg-dark text-white"><%= bitcoin[i].exchange %></td>
                            <td><%= bitcoin[i].ask %></td>
                            <td><%= bitcoin[i].totalAsk %></td>
                            <td><%= bitcoin[i].bid %></td>
                            <td><%= bitcoin[i].totalBid %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container info mt-5" role="alert">
        <p class="lead">Las cotizaciones se actualizan cada 1 minuto.<br> Para los siguientes exchanges con orderbook (BuenBit, Ripio) se calcula el precio promedio para operar un volumen de 0.1 BTC, 5 ETH o 500 DAI. A los precios de compra se le suma también la comisión de retiro de la cripto del exchange.</p>
    </div>

    <%- include('partials/footer.html') %>

</body>

</html>