<!doctype html>
<html lang="en">

<%- include('partials/head.html') %>

<body>

  <%- include('partials/navigation.html') %>

  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-auto text-center">
        <div class="card p-3">
          <div class="card-body">
            <h4 class="card-title">Calculator</h4>
            <hr>
            <form>

              <label for="coin">Currency</label>
              <div class="input-group mb-3">
                <select class="custom-select" id="coin" name="coin">
                  <option value="">Choose...</option>
                  <option value="dai">Dai</option>
                  <option value="eth">Ethereum</option>
                  <option value="btc">Bitcoin</option>
                </select>
              </div>

              <label for="exchange">Exchange buy</label>
              <div class="input-group mb-3">
                <select class="custom-select" id="exchangebuy" name="exchangebuy">
                  <option selected>Choose...</option>
                  <option value="buenbit">Buenbit</option>
                  <option value="ripio">Ripio</option>
                  <option value="qubit">Qubit</option>
                </select>
              </div>

              <label for="fiat">Exchange sell</label>
              <div class="input-group mb-3">
                <select class="custom-select" id="exchangesell" name="exchangesell">
                  <option selected>Choose...</option>
                  <option value="buenbit">Buenbit</option>
                  <option value="ripio">Ripio</option>
                  <option value="qubit">Qubit</option>
                </select>
              </div>

              <div class="form-group">
                <label for="amount">Amount</label>
                <input id="amount" type="text" name="amount" class="form-control" placeholder="Enter the amount"
                  required>
              </div>

              <button type="submit" class="btn btn-primary btn-block">Calculate</button>

            </form>


          </div>
        </div>
      </div>
    </div>


    <div class="alert alert-primary mt-4" role="alert">
      <div class="row">
        <div class="col-md-4">
          <p><strong>Results:</strong></p>
          <ul name="results">

          </ul>
        </div>

        <div class="col-md-4">
          <p><strong>Maket rates:</strong></p>
          <ul name="market_rates">

          </ul>
        </div>
      </div>
    </div>

    <span class="go-up"><i class="far fa-caret-square-up"></i></span>

  </div>
  <div class="container-fluid">
    <%- include('partials/footer.html') %>
  </div>
</body>

</html>