.go-up {
	/* display: none; */
	padding: 15px;
	background: #353638;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;

	border-radius: 162px 162px 162px 162px;
	-moz-border-radius: 162px 162px 162px 162px;
	-webkit-border-radius: 162px 162px 162px 162px;
	border: 0px solid #000000;
}

body {
	background-color: #000000;
}

.foo {
	background-color: #000000;
	color: #ffffff;
}

.text-white {
	color: white;
}

.info {
	background-color: #000000;
	color: #ffffff;
}